@model CStore.Domain.Domains.Admin.Models.ViewModels.PasswordHashGenerator.PasswordHashGeneratorViewModel

@Catalyst.Partial("_ValidationSummaryErrors")
@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "ajaxFormWrapper" }))    
{
        <div class="form-group">
            @Catalyst.LabelFor(p => p.Password, new { @class = "control-label" })
            @Catalyst.TextBoxFor(p => p.Password, new { @class = "form-control" })
            @Catalyst.ValidationMessageFor(p => p.Password)
        </div>

        <div class="form-group">
            @Catalyst.LabelFor(p => p.Salt, new { @class = "control-label" })
            @Catalyst.TextBoxFor(p => p.Salt, new { disabled = "disabled", @class = "form-control" })
            @Catalyst.ValidationMessageFor(p => p.Salt)
        </div>

        <div class="form-group">
            @Catalyst.LabelFor(p => p.PasswordHash, new { @class = "control-label" })
            @Catalyst.TextBoxFor(p => p.PasswordHash, new { disabled = "disabled", @class = "form-control" })
            @Catalyst.ValidationMessageFor(p => p.PasswordHash)
        </div>
        @Catalyst.SubmitButton("Generate Salt and Password Hash", new { @class = "btn btn-primary block full-width m-b", id="SubmitButton" })

}
