@using CStore.Domain.Domains.Admin.Models.ViewModels.AppAnnouncementMaintenance
@model CStore.Domain.Domains.Admin.Models.ViewModels.AppAnnouncementMaintenance.AppAnnouncementMaintenanceEditViewModel

@{
    ViewBag.Title = "Create New Announcement";
    Layout = (!Model.IsModalDialog) ? "~/Views/Shared/_Layout.cshtml" : null;
    if (Model.AppAnnouncementId != null && Model.AppAnnouncementId > 0)
    {
        ViewBag.Title = "Edit Announcement";
    }
}

@{
    //Generate unique IDs for the form and ajax wrapper around the form
    var ticks = DateTime.Now.Ticks.ToString();
    var formWrapperId = "formWrapper_" + ticks;
    var formId = "form_" + ticks;
    //Give the textarea a unique id so we can have multiple tinymce editors operate properly in a nested modal environment
    var announcementTextId = "AnnouncementText_" + ticks;
}    

<div class="ibox float-e-margins ajax-form-wrapper" id="@formWrapperId">
    @using (
        (Model.IsModalDialog) 
            ? Ajax.BeginForm(MVC.Admin.AppAnnouncementMaintenance.Edit(), 
                            new AjaxOptions { OnSuccess = "Cat.UI.Modal.onAjaxFormPostSuccess(data, this)", HttpMethod = "POST" }, 
                            new { id = formId })
            : Html.BeginForm(MVC.Admin.AppAnnouncementMaintenance.Edit(), FormMethod.Post, new { id="mainForm" }))
    {
        <div class="@(Model.IsModalDialog ? "modal-header" : "ibox-title")">
            @if (Model.IsModalDialog)
            {
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            }
            <h5>@ViewBag.Title</h5>
        </div>
        <div class="ibox-content">
            <div class="@(Model.IsModalDialog ? "modal-body" : "")">
                @Catalyst.HiddenFor(p => p.AppAnnouncementId)
                @Catalyst.HiddenFor(p => p.IsModalDialog)
                @Catalyst.HiddenFor(p => p.ReturnUrl)
                @Catalyst.Partial("_ValidationSummaryErrors")

                <div class="col-sm-12">
                    <div class="form-group">
                        @Catalyst.LabelFor(p => p.Subject, new { @class = "control-label" })
                        @Catalyst.EditorFor(p => p.Subject, new { @class = "form-control" })
                        @Catalyst.ValidationMessageFor(p => p.Subject)
                    </div>

                    <div class="form-group">
                        @Catalyst.LabelFor(p => p.AnnouncementText, new { @class = "control-label" })
                        @Catalyst.TextAreaFor(p => p.AnnouncementText, new { @class = "form-control rich-text-editor", id=@announcementTextId, @rows = 15})
                        @Catalyst.ValidationMessageFor(p => p.AnnouncementText)
                    </div>
                </div>

                <div class="row"></div> 

                <div class="col-sm-4">
                    <div class="form-group">
                        @Catalyst.LabelFor(p => p.EffectiveDate, new { @class = "control-label" })
                        <div class="input-group date datetimepicker">
                            @Catalyst.TextBoxFor(p => p.EffectiveDate, new { @class = "form-control" })
                            <span class="input-group-addon">
                                <span class="fa fa-calendar">
                                </span>
                            </span>
                        </div>
                        @Catalyst.ValidationMessageFor(p => p.EffectiveDate)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Catalyst.LabelFor(p => p.ExpirationDate, new { @class = "control-label" })
                        <div class="input-group date datetimepicker">
                            @Catalyst.TextBoxFor(p => p.ExpirationDate, new { @class = "form-control" })
                            <span class="input-group-addon">
                                <span class="fa fa-calendar">
                                </span>
                            </span>
                        </div>
                        @Catalyst.ValidationMessageFor(p => p.ExpirationDate)
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        @Catalyst.LabelFor(p => p.Sort, new { @class = "control-label" })
                        @Catalyst.EditorFor(p => p.Sort, new { @class = "form-control"})
                        @Catalyst.ValidationMessageFor(p => p.Sort)
                    </div>
                </div>

                <div class="row"></div> 

                <div class="col-sm-4">
                    <div class="form-group">
                        @Catalyst.EditorFor(p => p.ForceToTopOfList, new { @class = "form-control" })
                        @Catalyst.LabelFor(p => p.ForceToTopOfList, new { @class = "control-label" })
                        @Catalyst.ValidationMessageFor(p => p.ForceToTopOfList)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Catalyst.EditorFor(p => p.Active, new { @class = "form-control" })
                        @Catalyst.LabelFor(p => p.Active, new { @class = "control-label" })
                        @Catalyst.ValidationMessageFor(p => p.Active)
                    </div>                          
                </div>     

                <div class="row"></div> 

                <div class="@(Model.IsModalDialog ? "modal-footer" : "")">
                    <div class="row form-action-buttons-div">
                        <div class="col-sm-8 col-sm-offset-2">
                            @Catalyst.SubmitButton("Save", new { @class = "btn btn-primary m-b btn-fixed-width-md", id="SaveButton", Name="SubmitAction", Value="Save" }) 
                            @Catalyst.SubmitButton("Save and Exit", new { @class = "btn m-b btn-fixed-width-md", id="SaveAndExitButton", Name="SubmitAction", Value="SaveAndExit" }) 
                            @Catalyst.Button("Cancel", new { @class = "btn m-b btn-fixed-width-md cancel", id="CancelButton", Name="SubmitAction", Value="Cancel", formnovalidate="formnovalidate", data_dismiss="modal"})
                        </div>
                    </div>
                </div>
            </div>

            <div class="row"></div> 
            @*
            Just for testing nested modal windows, remove me
            <a href="@Url.Action(MVC.Admin.AppAnnouncementMaintenance.Edit())?IsModalDialog=true" class = "modal-link btn btn-success">Test Modal Add</a>
            *@
        </div>
    }
</div>

